.header {
  margin: 95px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.links-list {
  display: flex;
  align-items: center;
  gap: 31px;
  list-style-type: circle;
  letter-spacing: 0.2px;
  padding-left: 26px;
  padding-right: 43px;
}

.list-item-no-marker {
  list-style-type: none;
}

.link {
  text-underline-offset: 4px;
}

.active {
  text-decoration: none;
  list-style-type: none;
}

.header-logo {
  display: block;
  width: 135px;
  height: 105px;
}

.address {
  display: block;
  align-content: flex-start;
  font-style: normal;
  line-height: 24px;
}

.header-address {
  margin-left: 193px;
  padding-top: 5px;
}

.cover {
  color: #fff;
  text-transform: uppercase;
}

.cover-image {
  position: relative;
  background-position: center;
  z-index: 1;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(0 0 0 / 0.6);
  top: 0;
  right: 0;
}

.cover-title {
  position: relative;
  font-size: 100px;
  line-height: 120px;
  font-weight: bold;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0;
}

.aligned-text {
  padding-bottom: 5px;
}

.aligned-text-center {
  align-self: center;
  padding-right: 60px;
}

.aligned-text-right {
  align-self: flex-end;
}

.letter-spacing-extended {
  padding-left: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  position: relative;
  margin: 125px 50px 50px 75px;
  display: flex;
  justify-content: space-between;
}

.cover-description-text {
  padding-left: 2px;
  align-self: center;
  font-size: 22px;
  word-spacing: 19px;
  font-weight: normal;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  min-height: 50px;
  min-width: 255px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  align-self: center;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 178px 24px 147px 24px;
}

.lots-heading {
  padding-left: 40px;
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.lots-card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

.lots-card-list-item {
  position: relative;
  display: block;
  margin-top: 27px;
  width: 334px;
}

.card-link {
  position: relative;
  text-decoration: none;
}

.card {
  position: relative;
  min-height: 563px;
  color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-position: center;
  background-size: cover;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  z-index: 2;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
}

.card-text {
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
}

.look-more-link {
  display: block;
  color: #000;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  margin: 0 24px 180px;
}

.about-logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 35px 73px 320px 47px;
  justify-content: center;
  align-items: center;
}

.about-logo-image {
  min-width: 148px;
  min-height: 114px;
  background-image: url(../images/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-information {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 695px;
  text-align: left;
  padding-top: 136px;
}

.about-title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about-text {
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 120%;
  word-spacing: 1px;
}

.about-text:last-child {
  padding-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 180px 50px 88px;
  font-size: 18px;
}

.footer-menu {
  text-align: center;
  margin-left: 40px;
}

.footer-menu-list {
  list-style-type: none;
}

.footer-social-list {
  display: flex;
  gap: 48px;
}

.footer-list-item {
  list-style-type: none;
}

.social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
